<div class="col-lg-5 mb-5">
    <div class="bg-light p-30 mb-30">
        <iframe style="width: 100%; height: 250px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48850.38333722199!2d31.561086885713357!3d40.73513965995314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d792c541d6f95%3A0x52cb196be2c4e5a4!2sBolu%2C%20Bolu%20Merkez%2FBolu%2C%20T%C3%BCrkiye!5e0!3m2!1str!2str!4v1709572541234!5m2!1str!2str"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="bg-light p-30 mb-3">
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>14100 Bolu Merkez</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>cakarutku1@hotmail.com</p>
        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+534 892 4517</p>
    </div>
</div>