
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UserLayoutHeadComponentPartial")

<body>
    <div class="container-scroller d-flex">

        @await Component.InvokeAsync("_UserLayoutSideBarComponentPartial")
 
        <div class="container-fluid page-body-wrapper">
 
            @await Component.InvokeAsync("_UserLayoutNavbarComponentPartial")
 
            @RenderBody()
 
        </div>
    </div>
    <script src="~/spica-1.0.0/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/spica-1.0.0/js/off-canvas.js"></script>
    <script src="~/spica-1.0.0/js/hoverable-collapse.js"></script>
    <script src="~/spica-1.0.0/js/template.js"></script>
</body>
</html>

