@model List<ResultCategoryDto>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Ado</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CategoryId</th>
                <th>@item.CategoryName</th>
            </tr>
        }
    </table>
</div>