<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MultiShop Kullanıcı Paneli</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/spica-1.0.0/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/spica-1.0.0/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/spica-1.0.0/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/spica-1.0.0/images/favicon.png" />
</head>