@model List<ECommerceViewModel.Product>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Başlığı</th>
            <th>Ürün Puanı</th>
            <th>Ürün Detayı</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.product_id</td>
                <td>@item.product_id</td>
                <td>@item.product_id</td>
                <td>@item.product_id</td>
                <td><a href="#" class="btn btn-primary">Ürün Detayları</a></td>
            </tr>
        }
    </table>
</div>