
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert" style="height:50px">
        @TempData["ErrorMessage"]
    </div>
}
<div class="container-fluid">
    <div class="row px-xl-5">

        @await Component.InvokeAsync("_ShoppingCartProductListComponentPartial")

        @* @await Component.InvokeAsync("_ShoppingCartDiscountCouponComponentPartial") *@

        @await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCoupon.cshtml");

    </div>
</div>